### connect to mysql, and use sakila
> sakila is build in database

In [1]:
%load_ext sql
%sql mysql+pymysql://root:d9982951@localhost/sakila

In [2]:
%%sql
    use sakila;

 * mysql+pymysql://root:***@localhost/sakila
0 rows affected.

[]

### using mysql command line
source /Users/global user file/sakila_mysql_dump.sql

In [5]:
%%sql
    SHOW FULL TABLES;

 * mysql+pymysql://root:***@localhost/sakila
22 rows affected.

[('actor', 'BASE TABLE'),
 ('actor_info', 'VIEW'),
 ('address', 'BASE TABLE'),
 ('category', 'BASE TABLE'),
 ('city', 'BASE TABLE'),
 ('country', 'BASE TABLE'),
 ('customer', 'BASE TABLE'),
 ('customer_list', 'VIEW'),
 ('film', 'BASE TABLE'),
 ('film_actor', 'BASE TABLE'),
 ('film_category', 'BASE TABLE'),
 ('film_list', 'VIEW'),
 ('inventory', 'BASE TABLE'),
 ('language', 'BASE TABLE'),
 ('nicer_but_slower_film_list', 'VIEW'),
 ('payment', 'BASE TABLE'),
 ('rental', 'BASE TABLE'),
 ('sales_by_film_category', 'VIEW'),
 ('sales_by_store', 'VIEW'),
 ('staff', 'BASE TABLE'),
 ('staff_list', 'VIEW'),
 ('store', 'BASE TABLE')]

# writing shell .sh file

### in mac terminal

In [ ]:
sudo nano ./sql_backup.sh

In [ ]:
sudo chmod u+x+r sql_backup.sh

### crontab, scheduling

In [ ]:
crontab -e

In [ ]:
i, insert mode
esc, operation mode
:wq, save and quit

content

    2 minutes backup

In [ ]:
*/2 * * * * /Users/global_user_file/shell_files/sql_backup.sh > /Users/global_user_file/sql_dump_files/backups/backup.log

start crontab service

In [ ]:
sudo service cron start

In [ ]:
#mac terminal
launchctl start com.vix.cron

### mac permission issue

In [ ]:
chmod +x sql_backup.sh
umask 022

    can execute, without sudo now

wait for 2 mins

stop crontab service

In [ ]:
launchctl start com.vix.cron