# Objectives
> create sql_backup.sh

> building schedule by crontab

> truncate the content with all sakila tables

> try use backup file, to restore

### connect to mysql, and use sakila

In [1]:
%load_ext sql
%sql mysql+pymysql://root:d9982951@localhost/sakila

In [2]:
%%sql
    use sakila;

 * mysql+pymysql://root:***@localhost/sakila
0 rows affected.

[]

### using mysql command line
source /Users/global user file/sakila_mysql_dump.sql

In [3]:
%%sql
    SHOW FULL TABLES;

 * mysql+pymysql://root:***@localhost/sakila
22 rows affected.

[('actor', 'BASE TABLE'),
 ('actor_info', 'VIEW'),
 ('address', 'BASE TABLE'),
 ('category', 'BASE TABLE'),
 ('city', 'BASE TABLE'),
 ('country', 'BASE TABLE'),
 ('customer', 'BASE TABLE'),
 ('customer_list', 'VIEW'),
 ('film', 'BASE TABLE'),
 ('film_actor', 'BASE TABLE'),
 ('film_category', 'BASE TABLE'),
 ('film_list', 'VIEW'),
 ('inventory', 'BASE TABLE'),
 ('language', 'BASE TABLE'),
 ('nicer_but_slower_film_list', 'VIEW'),
 ('payment', 'BASE TABLE'),
 ('rental', 'BASE TABLE'),
 ('sales_by_film_category', 'VIEW'),
 ('sales_by_store', 'VIEW'),
 ('staff', 'BASE TABLE'),
 ('staff_list', 'VIEW'),
 ('store', 'BASE TABLE')]

# writing shell .sh file

### in mac terminal

In [ ]:
sudo nano ./sql_backup.sh

In [ ]:
sudo chmod +x sql_backup.sh

### mac and mysql permission issue

In [ ]:
sudo chmod +x sql_backup.sh
umask 022

In [ ]:
#in the .sh file
/usr/local/mysql/bin/mysqldump -u root -pd9982951 $DATABASE > $sqlfile

    can execute, without sudo now

### crontab, scheduling

In [ ]:
crontab -e

In [ ]:
i, insert mode
esc, operation mode
:wq, save and quit

content

    2 minutes backup

In [ ]:
*/2 * * * * /Users/global_user_file/shell_files/sql_backup.sh > /Users/global_user_file/sql_dump_files/backups/backup.log

start crontab service

In [ ]:
sudo service cron start

In [ ]:
#mac terminal
sudo launchctl start com.vix.cron

<output>
You have mail in /var/mail/jianlin

wait for 2 mins

In [ ]:
success auto backup with sh automation

stop crontab service

In [ ]:
sudo launchctl stop com.vix.cron

# truncate all tables in sakila
> for testing restore

In [ ]:
#writng truncate.sh
sudo nano ./truncate.sh

In [ ]:
#execute truncate.sh manully
sudo ./truncate.sh

check with no data

In [5]:
%sql select * from staff;

 * mysql+pymysql://root:***@localhost/sakila
0 rows affected.

[]

# restore by backup file

#### make sure the real backup file, don't use the truncate finished file
because the service stop fail

### unzip the backup

In [6]:
gunzip /Users/global_user_file/sql_dump_files/backups/all-database-10-01-2023_20-58-00.gz

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (129033885.py, line 1)

### restore the database using this backup file

In [ ]:
/usr/local/mysql/bin/mysql sakila < /Users/global_user_file/sql_dump_files/backups/all-database-10-01-2023_20-58-00

In [7]:
%%sql
    select * from staff

 * mysql+pymysql://root:***@localhost/sakila
2 rows affected.

[(1, 'Mike', 'Hillyer', 3, None, 'Mike.Hillyer@sakilastaff.com', 1, 1, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 2, 15, 19, 57, 16)),
 (2, 'Jon', 'Stephens', 4, None, 'Jon.Stephens@sakilastaff.com', 2, 1, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 2, 15, 19, 57, 16))]

success restore!